.user-favorite-box-bo {
  color: var(--primary);
  padding: 2.4rem;
  height: auto;
}

.favorite-list-box-bo {
  background-color: var(--form-bg);
}
.favorite-list-head-bo li {
  width: 100%;
}

.favorite-state-bo {
  display: block;
  padding: 1.6rem 0;
  width: 100%;
  background: var(--form-bg-dark);
  color: var(--primary-dark);
  border: 3px solid transparent;
  margin-bottom: -2px;

  @media (max-width: 768px) {
    padding: 1.2rem 0;
  }

  @media (max-width: 576px) {
    padding: 0.8rem 0;
  }

  &:hover {
    position: relative;
    z-index: 2;
    background: var(--form-bg);
    color: var(--primary);
    border: 3px solid var(--primary);
    border-bottom: var(--form-bg);
    margin-bottom: -3px;
  }
}

.favorite-state-bo.state-choose-bo {
  position: relative;
  z-index: 2;
  background: var(--form-bg);
  color: var(--primary);
  border: 3px solid var(--primary);
  border-bottom: var(--form-bg);
  margin-bottom: -3px;
}

.favorite-list-body-bo {
  margin-top: -2px;
  border: 3px solid var(--primary);
  padding: 3.6rem 2.4rem;

  @media (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 2.4em 1.6rem;
  }

  @media (max-width: 768px) {
    padding: 1.6em 2.4rem;
  }
  @media (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr);

    padding: 2.4rem 1.2rem;
  }
}

.favorite-product-box-bo,
.favorite-course-box-bo,
.favorite-company-box-bo {
  width: 100%;
  display: grid;
  row-gap: 2.4rem;
  column-gap: 2rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.favorite-product-box-bo {
  gap: 1.6rem;
}

.favorite-company-box-bo {
  gap: 2.4rem;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 1200px) {
    gap: 1.6rem;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* 這段代碼主要用於設置產品卡片的樣式 */

/* 設置產品卡片的樣式 */
.productCard,
.courseCard {
  cursor: pointer;
  width: 100%; /* 設置卡片寬度為 100%，以適應父容器 */
  max-width: 29rem;
  /* 設置卡片最大寬度 */
  position: relative; /* 設置產品卡片的相對定位 */

  @media (max-width: 768px) {
    max-width: 24rem;
  }

  &:hover {
    img {
      transform: scale(1.05);
      transition: transform 0.4s ease; /* 添加過渡效果 */
    }

    p {
      transition: all 0.4s ease; /* 添加過渡效果 */
      color: var(--primary-dark);
    }
  }

  /* 設置圖片容器的樣式 */
  .courseImgBox,
  .productImgBox {
    width: 100%; /* 設置卡片寬度為 100%，以適應父容器 */
    max-width: 28rem; /* 設置卡片最大寬度 */
    height: 100%; /* 設置圖片容器的高度為 28rem */
    max-height: 28rem; /* 設置卡片最大寬度 */
    margin-bottom: 2rem; /* 設置圖片容器的底部外邊距為 2rem */
    overflow: hidden;
    position: relative;

    @media (max-width: 768px) {
      max-width: 23rem; /* 設置卡片最大寬度 */
      max-height: 23rem; /* 設置卡片最大寬度 */
      margin-bottom: 0.8rem; /* 設置圖片容器的底部外邊距為 2rem */
    }

    @media (max-width: 576px) {
      max-width: 20rem; /* 設置卡片最大寬度 */
      max-height: 20rem; /* 設置卡片最大寬度 */
    }

    /* 添加半透明黑色遮罩層 */
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.05); /* 半透明黑色 */
      z-index: 2; /* 确保遮罩层在图片上方 */
      pointer-events: none; /* 禁止點擊 */
    }
  }

  .product-icon-heart-bo,
  .course-icon-heart-bo {
    color: var(--error-color);
    position: absolute;
    z-index: 999;
    top: 1.2rem;
    right: 1.2rem;
    font-size: 2.4rem;

    @media (max-width: 768px) {
      top: 1rem;
      right: 1rem;
      font-size: 2rem;
    }

    @media (max-width: 576px) {
      top: 1rem;
      right: 1rem;
      font-size: 1.6rem;
    }
  }

  .product-icon-heart-bo {
    top: 1.6rem;
    right: 1.6rem;
    font-size: 2.8rem;
    @media (max-width: 768px) {
      font-size: 2.4rem;
    }
    @media (max-width: 576px) {
      font-size: 2rem;
    }
  }

  /* 設置卡片主體的樣式 */
  .cardBody {
    text-align: center; /* 確保卡片主體內的文本居中對齊 */

    /* 設置產品名稱區塊的樣式 */
    .courseName,
    .productName {
      gap: 3px; /* 設置產品名稱區塊內元素的間隙為 3px */

      /* 設置產品描述的樣式 */

      .productDescription {
        min-height: calc(1.2em * 2); /* 設置產品描述的最小高度為 1.2em 的兩倍 */
        line-height: 1.2em; /* 設置產品描述的行高為 1.2em */
      }
      .courseDescription {
        min-height: calc(1.2em * 3); /* 設置產品描述的最小高度為 1.2em 的兩倍 */
        line-height: 1.2em; /* 設置產品描述的行高為 1.2em */
      }
    }
  }
}
.productCard {
  margin-bottom: 1.6rem;
}

.company-card-bo {
  color: var(--bg-text-color);
  background: var(--background);
  cursor: pointer;
  width: 90%; /* 設置卡片寬度為 100%，以適應父容器 */
  // max-width: 44rem;
  position: relative; /* 設置產品卡片的相對定位 */
  padding: 2rem 1.6rem;

  @media (max-width: 1400px) {
    width: 100%; /* 設置卡片寬度為 100%，以適應父容器 */
    padding: 1.6rem 1.2rem;
  }

  @media (max-width: 992px) {
    padding: 1.6rem 1rem;
  }

  &:hover {
    background: var(--bg-text-light-color);
    color: var(--text-color);

    .normal-icon {
      display: none;

      opacity: 0;
    }

    .hover-icon {
      display: block;
      opacity: 1;
    }

    .company-img-bo {
      transform: scale(1.05);
      transition: transform 0.4s ease; /* 添加過渡效果 */
    }

    .btn-company-detail {
      background-color: var(--primary-dark);
      color: var(--bg-text-color);
    }
  }
  .company-card-body-bo {
    gap: 1.6rem;
    @media (max-width: 992px) {
      gap: 1.2rem;
    }
    @media (max-width: 768px) {
      gap: 1rem;
    }
  }

  /* 設置圖片容器的樣式 */
  .company-img-box-bo {
    width: 100%; /* 設置卡片寬度為 100%，以適應父容器 */
    max-width: 12rem; /* 設置卡片最大寬度 */
    height: 100%; /* 設置圖片容器的高度為 28rem */
    max-height: 12rem; /* 設置卡片最大寬度 */
    margin-bottom: 1.6rem; /* 設置圖片容器的底部外邊距為 2rem */
    overflow: hidden;
    position: relative;

    @media (max-width: 1200px) {
      max-width: 10rem; /* 設置卡片最大寬度 */
      max-height: 10rem; /* 設置卡片最大寬度 */
    }

    @media (max-width: 992px) {
      display: none;
    }

    @media (max-width: 768px) {
      display: block;
      max-width: 11rem; /* 設置卡片最大寬度 */
      max-height: 11rem; /* 設置卡片最大寬度 */
    }

    @media (max-width: 576px) {
      max-width: 9rem; /* 設置卡片最大寬度 */
      max-height: 9rem; /* 設置卡片最大寬度 */
    }
  }

  .hover-icon {
    display: none;
    opacity: 0;
  }

  .list-text-bo {
    text-wrap: wrap;
    gap: 1rem;
    @media (max-width: 768px) {
      gap: 0.5rem;
    }
  }

  .icon-heart-bo {
    color: var(--error-color);
  }

  .icon-star-bo {
    color: var(--primary);
  }
}

.btn-company-detail {
  margin-top: 0.8rem;
  gap: 1.2rem;
  padding: 0 1.2rem;
  color: var(--bg-text-color);
  border-radius: 5px;
  background-color: var(--primary);

  @media (max-width: 576px) {
    gap: 0.8rem;
    padding: 0 0.8rem;
  }

  .btn-text-bo {
    flex-direction: row;
    text-wrap: nowrap;
  }
}

.btn-more {
  color: var(--primary);
  width: 20rem;
  padding: 1rem 0 1rem 2rem;
  border: 2px solid var(--primary);
  border-radius: 4rem;
  gap: 6rem;
  transition: 0.3s;
  cursor: pointer;
  grid-column: -1 / 1;

  @media (max-width: 768px) {
    width: 18rem;
    gap: 4rem;
  }

  .edit-icon {
    text-align: start;
    background-image: url('/images/boyu/btn/btnMore.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 5rem;
    height: 1.2rem;
    transition: 0.3s;
  }

  p {
    font-size: 1.4rem;
  }

  &:hover {
    color: var(--primary-dark);
    border-color: var(--primary-dark);
    .edit-icon {
      background-image: url('/images/boyu/btn/btnMoreHoverDark.svg');
      transform: translateX(3px);
    }
  }
}

.ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* 顯示的行數，1 表示一行 */
  overflow: hidden;
  text-overflow: ellipsis; /* 文字超出部分顯示省略號 */
  white-space: normal; /* 防止文字不換行 */
}

.swal-btn-bo {
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #b79347;
  color: var(--bg-text-color);
  padding: 0.4rem 1rem;
}

.swal-popup-bo {
  background-color: var(--form-bg);
}

.swal-icon-bo {
  font-size: 1.6rem;

  @media (max-width: 576px) {
    font-size: 1.4rem;
  }
}

.swal-btn-cancel-bo {
  font-size: 1.4rem;
  font-weight: 500;
  background-color: var(--primary-dark);
  color: var(--bg-text-color);
  padding: 0.4rem 1rem;
}

.courseImgBox {
  aspect-ratio: 16 / 9; /* 維持16:9的比例 */
  width: 100%;
  overflow: hidden;
}

.courseImgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productImgBox,
.company-img-box-bo {
  aspect-ratio: 1 / 1; /* 維持1:1的比例，保持正方形 */
  width: 100%;
  overflow: hidden;
}

.productImgBox img,
.company-img-bo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-box-bo {
  border: 3px solid var(--primary);
  margin-bottom: 4.8rem;
  background-color: var(--form-bg);
  color: var(--primary);
  padding: 1.6rem 0.6rem;

  @media (max-width: 768px) {
    margin-bottom: 2.8rem;
  }
}

.input-search-bo {
  height: 5rem;
  outline: 3px solid var(--primary);
  border: none;

  border-radius: 5px;
  color: var(--primary);
  padding: 1rem 1rem;
  width: 50%;

  &::placeholder {
    color: var(--primary);
  }

  &:focus {
    outline: 3px solid var(--primary-dark);
  }

  @media (max-width: 768px) {
    height: 4rem;
  }

  @media (max-width: 576px) {
    width: 80%;
  }
}

.btn-search {
  gap: 1.2rem;
  padding: 1.2rem 1.2rem;
  border: none;
  height: 100%;
  color: var(--bg-text-color);
  border-radius: 5px;
  background-color: var(--primary);

  @media (max-width: 576px) {
    gap: 0.8rem;
    padding: 0.4rem 1.2rem;
  }

  .btn-text-bo {
    text-wrap: nowrap;
  }

  &:hover {
    background-color: var(--primary-dark);
    color: var(--bg-text-color);
  }
}

.load-more-box-bo {
  color: var(--primary);
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 1.6rem;
  grid-column: -1 / 1;

  .progress {
    width: 25rem;
    --bs-progress-bar-bg: var(--primary);
    height: 5px; /* 調整進度條的高度，使其更細 */
  }
  .progress-bar {
    height: 5px; /* 調整進度條的高度，使其更細 */
  }
}
