.user-party-box-bo {
  color: var(--primary);
  padding: 2.4rem;
  height: auto;
}

.party-list-box-bo {
  background-color: var(--form-bg);
}

.party-list-head-bo li {
  width: 100%;
}

.party-type-bo {
  display: block;
  padding: 1.6rem 0;
  width: 100%;
  background: var(--form-bg-dark);
  color: var(--primary-dark);
  border: 3px solid transparent;

  margin-bottom: -4px;

  @media (max-width: 768px) {
    padding: 1.2rem 0;
  }

  @media (max-width: 576px) {
    padding: 0.8rem 0;
  }

  &:hover {
    position: relative;
    z-index: 2;
    background: var(--form-bg);
    color: var(--primary);
    border: 3px solid var(--primary);
    border-bottom: var(--form-bg);
    margin-bottom: -3px;
  }
}

.party-type-bo.type-choose-bo {
  position: relative;
  z-index: 2;
  background: var(--form-bg);
  color: var(--primary);
  border: 3px solid var(--primary);
  border-bottom: var(--form-bg);
  margin-bottom: -3px;
}

.party-state-box-bo {
  border-bottom: 2px solid var(--primary);

  & li {
    width: 100%;
  }
}

.party-state-bo {
  display: block;
  padding: 1.2rem 3.6rem;
  border-bottom: 3px solid transparent;

  @media (max-width: 576px) {
    padding: 0.6rem 1.2rem;
  }

  &:hover {
    border-bottom: 3px solid var(--primary);
  }
}

.party-state-bo.state-choose-bo {
  border-bottom: 3px solid var(--primary);
}

.party-list-body-bo {
  margin-top: -3px;

  border: 3px solid var(--primary);
  padding: 2.4rem;

  @media (max-width: 992px) {
    padding: 2.4rem 1.6rem;
  }

  @media (max-width: 768px) {
    padding: 1.6rem 2.4rem;
  }
  @media (max-width: 576px) {
    padding: 1.2rem;
  }
}

.party-list-th-bo {
  padding: 0.8rem 0;
  border-bottom: 4px solid var(--primary);

  @media (max-width: 768px) {
    padding: 0;
  }
}

.party-list-th-bo ul {
  display: grid;
  grid-template-columns: 4fr 3.5fr 4.2fr 2fr 2fr;

  @media (max-width: 1200px) {
    grid-template-columns: 3fr 4fr 3fr 4fr;
  }

  @media (max-width: 992px) {
    grid-template-columns: 3fr 3fr 3fr 2.5fr;
  }

  @media (max-width: 768px) {
    display: none;
  }

  & li {
    padding: 0 2.4rem;
    cursor: pointer;
  }

  & li:last-child {
    cursor: auto;
  }
}

.party-list-tb-bo {
  padding: 0.8rem 0;
}

.btn-sort-bo {
  color: var(--primary);

  &:hover {
    color: var(--primary-dark);
  }
}

.party-list-col-bo {
  padding: 1.6rem 2.4rem;
  border-bottom: 2px solid var(--primary);
  cursor: pointer;

  @media (max-width: 768px) {
    padding: 0.8rem 0.8rem;
  }

  &:hover {
    background-color: var(--form-bg-dark);
    color: var(--primary-dark);
  }
}

.party-list-col-bo.col-choose-bo {
  background-color: var(--form-bg-dark);
  color: var(--primary-dark);
  gap: 1.2rem;
}

.list-info-bo {
  flex: 1;
  justify-content: space-between;
}

.list-time-bo {
  gap: 1.2rem;
  @media (max-width: 992px) {
    gap: 0.4rem;
  }

  @media (max-width: 400px) {
    flex-direction: column;
  }
}

.btn-detail-bo {
  cursor: pointer;
}

.list-col-head-desktop-bo {
  display: grid;
  grid-template-columns: 3.5fr 3.5fr 4.2fr 2.2fr 1.5fr;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  @media (max-width: 992px) {
    gap: 1.2rem;
  }
  @media (max-width: 1200px) {
    grid-template-columns: 3fr 4fr 3fr 3fr 1fr;
  }
  @media (max-width: 992px) {
    grid-template-columns: 3fr 3fr 3fr 2fr 0.5fr;
  }
}

.list-col-head-mobile-bo {
  padding: 1rem 0;
}

.list-col-mobile-body-bo,
.list-col-desktop-body-bo {
  justify-content: space-between;
  background-color: var(--form-bg);
  padding: 1.6rem 7.2rem 1.6rem 6rem;

  @media (max-width: 1400px) {
    padding: 1.6rem 2.4rem 1.6rem;
  }
  @media (max-width: 992px) {
    padding: 1.6rem;
  }

  @media (max-width: 768px) {
    padding: 1.2rem;
  }
}

.list-text-bo {
  text-wrap: wrap;
  gap: 1rem;
  @media (max-width: 576px) {
    gap: 0.5rem;
  }
}

.shop-box-bo {
  gap: 2rem;
  @media (max-width: 1200px) {
    width: 100%;
    padding: 0.6rem 2.4rem;
  }

  @media (max-width: 576px) {
    width: 100%;
    padding: 0.6rem 0.8rem;
    gap: 0.8rem;
  }
}
.col-icon-bo {
  font-size: 2rem;
  color: var(--primary-dark);
}

.btn-shop-detail,
.btn-shop-Contact,
.btn-rating {
  width: 100%;
  gap: 1.2rem;
  padding: 0 1.2rem;
  color: var(--bg-text-color);
  border-radius: 5px;
  background-color: var(--primary);

  @media (max-width: 1200px) {
    padding: 0.6rem;
  }

  @media (max-width: 576px) {
    gap: 0.8rem;
    padding: 0 0.8rem;
  }

  &:hover {
    background-color: var(--primary-dark);
    color: var(--bg-text-color);
  }
}

.btn-icon-bo {
  color: var(--bg-text-color);
}

.btn-text-bo {
  flex-direction: row;

  @media (max-width: 440px) {
    flex-direction: column;
  }
}

.group-box-bo {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1.6rem;

  @media (max-width: 1200px) {
    order: -1;
    width: 95%;
  }

  @media (max-width: 992px) {
    gap: 1.2rem;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.group-member-box-bo {
  background-color: var(--primary);
  color: var(--bg-text-color);
  padding: 0.6rem 1.2rem;
}

.member-text-box {
  gap: 1.2rem;

  @media (max-width: 440px) {
    flex-direction: column;
    gap: 0rem;
  }
}
.member-img-bo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.member-self-bo {
  background-color: var(--primary-dark);
}

.offcanvas-bo {
  --bs-offcanvas-transition: 0.6s;

  .sort-list-bo {
    gap: 1.6rem;
    color: var(--primary);
    position: absolute;
    left: 40%;
    transform: translateX(-50%);

    & li:hover {
      color: var(--primary-dark);
    }
  }
}

.btn-party-bo {
  background-color: var(--primary);
  color: var(--bg-text-color);

  @media (max-width: 576px) {
    width: 7rem;
  }

  &:hover {
    background-color: var(--primary-dark);
    color: var(--bg-text-color);
  }

  .btn-party-text-bo {
    flex-direction: row;
    @media (max-width: 1015px) {
      flex-direction: column;
    }
  }
}

.state-text-bo {
  @media (max-width: 576px) {
    width: 7rem;
  }
}

.show-detail-desktop-bo {
  display: none;
}

.list-col-desktop-body-bo {
  display: none;
}

.show-detail-desktop-bo:checked ~ .list-col-desktop-body-bo {
  display: flex;
}

.show-detail-mobile-bo {
  display: none;
}

.list-col-mobile-body-bo {
  display: none;
}

.show-detail-mobile-bo:checked ~ .list-col-mobile-body-bo {
  display: flex;
}

.sort-list-li-bo {
  width: 20rem;
}

.search-box-bo {
  border: 3px solid var(--primary);
  margin-bottom: 4.8rem;
  background-color: var(--form-bg);
  color: var(--primary);
  padding: 1.6rem 0.6rem;

  @media (max-width: 768px) {
    margin-bottom: 2.8rem;
  }
}

.input-search-bo {
  height: 5rem;
  outline: 3px solid var(--primary);
  border: none;

  border-radius: 5px;
  color: var(--primary);
  padding: 1rem 1rem;
  width: 50%;

  &::placeholder {
    color: var(--primary);
  }

  &:focus {
    outline: 3px solid var(--primary-dark);
  }

  @media (max-width: 768px) {
    height: 4rem;
  }

  @media (max-width: 576px) {
    width: 80%;
  }
}

.btn-search {
  gap: 1.2rem;
  padding: 1.2rem 1.2rem;
  border: none;
  height: 100%;
  color: var(--bg-text-color);
  border-radius: 5px;
  background-color: var(--primary);

  @media (max-width: 576px) {
    gap: 0.8rem;
    padding: 0.4rem 1.2rem;
  }

  .btn-text-bo {
    text-wrap: nowrap;
  }

  &:hover {
    background-color: var(--primary-dark);
    color: var(--bg-text-color);
  }
}
