.main {
  width: 100%;
  padding: 4rem;
}

.menber-info-box-bo {
  width: 100%;
  border: 2px solid var(--primary);
  background: var(--form-bg);
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  .chartBox {
    padding: 2rem;
    width: 90%;
    background: var(--white);
    border: 3px solid var(--primary);
    border-radius: 5px;
  }
  .twoBox {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 0;
  }
  .menber-info-box-bo {
    .chartBox {
      padding: 1.2rem;
      width: 100%;
    }
  }
}
